* {
  box-sizing: border-box;
}

body {
  all: initial;
  font-family: Poppins, sans-serif;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  input,
  button {
    border: none;
    outline: none;
  }

  button {
    background: transparent;
    font-size: medium;
    cursor: pointer;
    padding: 0;
  }

  aside {
    background: orangered;
    color: white;
    padding: 0 2rem;

    section {
      position: sticky;
      top: 0;

      h1 {
        font-size: xx-large;
        padding: 10rem 0 2.5rem;
      }

      ul {
        font-size: x-large;
        font-weight: bold;

        li {
          padding: 0.5rem 0;
        }
      }
    }
  }

  #home {
    grid-column: 2 / -1;
    padding: 0 4rem;

    h2 {
      font-size: 5rem;
      padding: 10rem 0 0;
    }

    h3 {
      font-size: 4rem;
      color: orangered;
      padding: 4rem 0 0;

      &::after {
        content: '';
        display: block;
        width: 5rem;
        height: 0.75rem;
        border-radius: 99rem;
        background: orangered;
        margin: 1rem 0 2rem;
      }
    }

    p {
      margin: 0 0 1rem;
    }

    #showcase {
      h3 {
        padding: 0.25rem 0 0;

        &::after {
          margin: 1rem 0 4rem;
        }
      }

      ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 0.5rem 1.25rem;

        li {
          img {
            width: -webkit-fill-available;
            width: -moz-available;
            width: fill-available;
          }
        }
      }
    }

    #designers {
      h4 {
        margin: 0 0 1rem;
      }

      ul {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 0 1.25rem;

        li {
          background: whitesmoke;

          img {
            width: -webkit-fill-available;
            width: -moz-available;
            width: fill-available;
          }

          p {
            margin: 0 0 1rem;
            padding: 0 1rem;

            &:nth-of-type(1) {
              font-size: x-large;
            }

            &:nth-of-type(2) {
              font-size: large;
              color: gray;
            }
          }
        }
      }
    }

    #packages {
      ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 1fr));
        gap: 0 1.25rem;

        li {
          text-align: center;

          h4 {
            font-size: x-large;
            color: white;
            padding: 2rem 0;
          }

          p {
            background: whitesmoke;
            margin: 0;
            padding: 1.5rem 0;
            font-size: large;
            border-top: 1px solid gainsboro;

            &:nth-of-type(6) {
              button,
              strong {
                font-size: 2.5rem;
                font-weight: normal;
              }

              strong {
                margin: 0 0.5rem;
              }

              span {
                display: block;
                color: gray;
                margin-top: 0.75rem;
              }
            }

            &:nth-of-type(7) {
              button {
                padding: 1rem 1.5rem;
              }
            }

            &:nth-of-type(8) {
              display: none;
            }
          }

          &:first-of-type {
            h4 {
              background: dimgray;
            }

            p:nth-of-type(7) {
              button {
                background: white;
              }
            }
          }

          &:last-of-type {
            h4 {
              background: orangered;
            }

            p:nth-of-type(7) {
              button {
                background: orangered;
                color: white;
              }
            }
          }
        }
      }
    }

    #contact {
      margin: 0 0 4rem;

      form {
        label,
        input,
        button {
          display: block;
        }

        input,
        button {
          width: 100%;
          font-family: inherit;
          font-size: medium;
        }

        input {
          margin: 0 0 1rem;
          padding: 0.5rem 0.75rem;
          border: 1px solid gainsboro;

          &:hover,
          &:focus {
            border-color: dimgray;
          }
        }

        button {
          background: orangered;
          color: white;
          margin: 2rem 0 0;
          padding: 1rem 0.75rem;
        }
      }

      p:last-of-type {
        display: none;
        margin: 0;
        padding: 4rem 2rem;
        border: 2px solid orangered;
        border-radius: 0.25rem;
        color: orangered;

        span {
          display: block;
          font-size: x-large;
          margin: 1rem 0 0;
        }
      }
    }
  }

  footer {
    grid-column: 1 / -1;
    height: 8rem;
    background: whitesmoke;
  }
}
